* {
    margin: 0;
    padding: 0;
}
body {
    font: 14px/20px helvetica,verdana;
    background: #fff;
    text-align: center;
}
.wrapper {
    margin: 0 auto;
    text-align: left;
    width: 400px;
}
h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
                 "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    margin: 30px 0 0 0;
}
.actions .archive {
    cursor: pointer;
}
.actions:hover .archive {
    display: inline;
}
ul {
    list-style: none;
}
li {
    padding: 3px;
}
li:hover, h1:hover {
    background: #FFFF7F;
}
.done {
    color: #999;
    text-decoration: line-through;
}
input {
    vertical-align: middle;
}
.globalactions {
	display: block;
	text-align: right;
	padding-top: 1em;
}
.actions {
	font-size: .8em;
	color: #999;
}
a {
	font-size: 10px;
	color: #999;
	text-decoration: none;
}
em {
    color: #008000;
}
